@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    --text-color: #202020d5;
    --green: #4CAF50;
    --light-green: #4CAF50;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: var(--text-color);
}
.main-header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    height: 20vh;
}

.main-header__title{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: 100%;
}
.main-header__title > .title{
    display: grid;
    place-items: center;
    grid-column: 1;
}
.main-header__title > .button{
    display: grid;
    place-items: center;
    grid-column: 8;
    width: 100%;
    height: 100%;
}
.main-header__title > .button button{
    background-color: var(--green);
    color: white;
    border: none;
    height: 60%;
    width: 90%;
    border-radius: 10px;
    box-shadow:
        0 8px 16px 0 rgba(0,0,0,0.2),
        0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 120%;
}

.main-header__info{
    display: grid;
    place-items: center;
}
.main-header__info > .text-info {
    display: grid;
    align-items: center;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    background-color: #4caf4f31;
}
.main-header__info > .text-info h2{
    color: var(--light-green);
    margin-left: 2%;
}