@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

:root{
    --text-color_main: #202020d5;
    --text-color_secondary: white;
    --green: #4CAF50;
    --light-green: #4CAF50;
    --transparent-green: #4caf4f31;
    --gray: #d4d4d42d;
    --gray-strong: #3b3b3b85;
    --gray-border: #6d6d6d36;
    --orange: #ff9d00;
    --red: red;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    display: grid;
    justify-content: center;
    color: var(--text-color);
}
a {
    text-decoration: none;
}
span {
    color: var(--text-color_main);
}
